// === WIDTH < 1140px ===
@media (max-width: 1140px) {
  .directions__inner {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .directions__image {
    width: 100%;
  }

  .video-preview__inner {
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
  }

  .gallery__item-inner {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }
}

// === / WIDTH < 1140px ===
// === WIDTH < 990px ===
@media (max-width: 990px) {
  .offer__inner {
    grid-gap: 10px;
  }

  .offer__link {
    padding: 16px 15px 19px;
    min-height: 200px;
  }
}

// === / WIDTH < 990px ===
// === WIDTH < 800px ===
@media (max-width: 800px) {
  .header__phone {
    display: none;
  }

  .header__description {
    border-radius: 10px;
    padding: 3px 7px;
    max-width: 382px;
    color: $white;
    background-color: rgba($text, .5);
  }

  .travel-info__inner {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }

  .offer {
    padding: 50px 0;
  }

  .offer__inner {
    grid-template-columns: repeat(2, 1fr);
  }

  .offer__link:nth-child(3),
  .offer__link:nth-child(6) {
    grid-column: auto;
    grid-row: auto;
  }

  .offer__link {
    padding: 25px 30px;
    min-height: 360px;
  }

  .map__img {
    min-height: 400px;
    background-position: 20% center;
  }

  .map,
  .video-preview,
  .gallery {
    padding-bottom: 50px;
  }

  .video-preview__inner {
    grid-template-columns: 1fr;
  }

  .video-preview__popup {
    min-height: 415px;
  }
}

// === / WIDTH < 800px ===
// === WIDTH < 560px ===
@media (max-width: 560px) {
  .title {
    font-size: 28px;
  }

  .header__top {
    padding-bottom: 0;
  }

  .header__title {
    margin-top: 27px;
    font-size: 60px;
    line-height: 1.3;
  }

  .logo {
    display: block;
    width: 100%;
  }

  .logo__image {
    margin: 0 auto 30px;
  }

  .header__phone-number {
    margin-left: 0;
  }

  .menu {
    border: none;
  }

  .menu__btn {
    position: absolute;
    top: 123px;
    right: 10px;
    border: none;
    border-radius: 50%;
    padding: 0;
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: $accent;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 70%;
      height: 2px;
      background-color: $white;
    }

    &::before {
      top: 25%;
    }

    &::after {
      bottom: 25%;
    }
  }

  .menu__btn-row {
    margin: 0 auto;
    display: block;
    width: 70%;
    height: 2px;
    background-color: $white;
  }

  .menu__list {
    position: absolute;
    right: 10px;
    transform: translateY(-200%);
    border-radius: 22px;
    margin-left: auto;
    display: block;
    width: 55%;
    background-color: $accent;
    transition: $transition-normal;

    &--active {
      transform: translateY(0);
    }
  }

  .menu__item {
    border-bottom: 1px solid rgba($line, .5);

    &:last-child {
      border-bottom: none;
    }
  }

  .menu__link {
    padding: 17px;
    text-align: center;
  }

  .directions {
    padding: 50px 0;
  }

  .directions__inner {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .travel-info {
    padding: 33px 0;
  }

  .travel-info__inner {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  .offer__inner {
    padding-bottom: 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery__top {
    flex-wrap: wrap;
  }

  .gallery__title {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
  }

  .gallery__item-inner {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }
}

// === / WIDTH < 560px ===
// === WIDTH < 440px ===
@media (max-width: 440px) {
  .menu__list {
    width: 95%;
  }

  .directions__inner {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  .travel-info__inner {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  .video-preview__popup {
    min-height: 250px;
  }
}

// === / WIDTH < 440px ===
// === WIDTH < 360px ===
@media (max-width: 360px) {
  .header__title {
    margin-top: 36px;
    font-size: 52px;
  }

  .offer__link {
    padding: 15px;
    min-height: 285px;
  }
}

// === / WIDTH < 360px ===
// === WIDTH < 333px ===
@media (max-width: 333px) {
  .header__phone-number {
    padding: 8px 20px;
  }

  .menu__btn {
    top: 119px;
  }
}

// === / WIDTH < 333px ===
// === WIDTH < px ===
// @media (max-width: px) {

// }
// === / WIDTH < px ===